/**
 * Cookie CSS
 *
 */

#cookie {
	opacity: 1;
	visibility: visible;
	transition: opacity 350ms ease-in-out, visibility 350ms ease-in-out;
}

#cookie.hidden {
	opacity: 0;
	visibility: hidden;
}

html.no-js #cookie,
html.no-js #cookie.hidden {
	opacity: 1;
	visibility: visible;
}

#cookie .cookie__wrapper {

}

#cookie .cookie__container {

}

#cookie .cookie__header {

}

#cookie .cookie__body {

}

#cookie .cookie__buttons {

}

#cookie .cookie__button {

}

#cookie .cookie__button.cookie__button--accept {
	
}

#cookie .cookie__button.cookie__button--refuse{
	
}

#cookie .cookie__button.cookie__button--revoke {
	
}

#cookie-revoke {

}

/* 480px and up */
@media all and (min-width: 30em) {

}

/* 768px and up */
@media all and (min-width: 48em) {
	
}

/* 992px and up */
@media all and (min-width: 62em) {

}

/* 1280px and up */
@media all and (min-width: 80em) {
	
}

/* 1440px and up */
@media all and (min-width: 90em) {
	
}